\documentclass{article}

\usepackage{fontspec}
\setmainfont[Ligatures=TeX
, BoldFont=Lyon Text Semibold
]{Lyon Text}

\usepackage{tikz}
\usetikzlibrary{arrows}
\usetikzlibrary{graphs, quotes} % Requires pgf 3: sudo tlmgr update pgf
\usetikzlibrary{graphdrawing}   % Requires luatex
\usegdlibrary{layered}          % Requires luatex

\usepackage[hidelinks, frenchlinks]{hyperref}

\begin{document}
\title{$title$}
\author{$author$}
\maketitle

$body$

\end{document}
